.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.card-item__licence {
  font-size: var(--font-sxmall);
  font-weight: 500;
  color: var(--dark-bg-solid);
}

.item__buttons {
  display: flex;
  gap: 10px;
}

.item__buttons div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item__name {
  color: var(--dark-solid);
  font-size: var(--font-large);
  font-weight: 700;
}

.item__price {
  font-size: var(--font-large);
  color: var(--dark-bg-solid);
}

.item__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item__quantity {
  background-color: var(--dark-bg-solid);
  color: var(--light-bg-solid);
  font-size: var(--font-sxmall);
  font-style: bold;
  width: 2rem;
  border: none;
}

.item__input {
  width: 8rem;
}

.item__submit {
  font-family: var(--alternative-font);
  font-size: var(--font-sxmall);
  background-color: var(--primary-solid);
  color: var(--light-bg-solid);
  width: 13rem;
}
.item__promo {
  font-size: var(--font-sxmall);
  color: var(--secondary-solid);
  font-weight: 700;
}

.card-item__cover {
  display: flex;
}
